<tr>
	<td>
			<span class="artist"><%= fourth_level_item[3] %></span>
			<span class="record"><%= spotify_link fourth_level_item %></span>
			<span class="year"><%= fourth_level_item[5] %></span>
	</td>
	<td>
		<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= who %> sez" data-placement="left" data-content="<%= fourth_level_item[6] %><%= " #{fourth_level_item[7]}/10" if who == 'CB' and !fourth_level_item[7].empty? %>">
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
		</a>
		
	</td>
</tr>