<div class="col-sm-6">
	<div class="info">
		<p class="who"><%= who %> listened to</p>	
		<p class="artist"><%= record_data[@last_week_index] [3] %></p>
		<p><span class="record"><%= record_data[@last_week_index] [4] %></span> <span class="year"><%= record_data[@last_week_index][5] %></span></p>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0">
			<%= spotify_link_album_cover(record_data[@last_week_index]) %>
		</div>
		<div class="col-sm-5 col-xs-12">
			<% unless record_data[@last_week_index][6].empty? %>
				<p class="commentary"><span class="who"><%= who %> sez </span> <span class="quote">"<%= record_data[@last_week_index][6] %>"</span></p>
			<% end %>	
			<% if who == 'CB' and !record_data[@last_week_index][7].empty? %>
				<p class="rate"><strong><%= record_data[@last_week_index][7] %></strong> / 10</p>
			<% end %>
		</div>
	</div>
</div>