<div class="report">

	<%= partial :summary_header %>

	<div class="container" id="numbers">

		<section>
			<div class="row">
				<div class="col-xs-12">
					<h3>Average rating for inflicted suffering</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h4>Hef average rating</h4>
					<p class="number"><%= @hef_avg %></p>
					<p class="notes">Hef rated <%= @hef_ratings.size %> records, with a high of <strong><%= @hef_max.to_i %></strong> (<%= @hef_max_records %>) and a low of <strong><%= @hef_min.to_i %></strong> (<%= @hef_min_records %>).</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h4>CB average rating</h4>
					<p class="number"><%= @cb_avg %></p>
					<p class="notes">CB rated <%= @cb_ratings.size %> records, with a high of <strong><%= @cb_max.to_i %></strong> (<%= @cb_max_records %>) and a low of <strong><%= @cb_min.to_i %></strong> (<%= @cb_min_records %>).</p>
				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="col-xs-12">
					<h3>CB rates what he assigned to Hef</h3>
					<h4>Average for records he made Hef listen to</h4>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<p class="number"><%= @cb_to_hef_avg %></p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p class="notes">CB assigned Hef several <strong>10</strong>s (<%= @cb_to_hef_max_records %>) and one <strong>5</strong> (<%= @cb_to_hef_min_records %>).</p>
				</div>
			</div>
		</section>

		<%= partial :best_or_worst, locals: {weeks: @best_weeks, total: @best_week_total, head: 'Best'} %>
		<%= partial :best_or_worst, locals: {weeks: @worst_weeks, total: @worst_week_total, head: 'Worst'} %>

		<section>
			<div class="row">
				<div class="col-xs-12">
					<h3>Largest discrepancy</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h4>Difference between Hef & CB rating on a Hef assignment</h4>
					<p class="number"><%= @max_diff %></p>
				</div>

				<div class="col-xs-12 col-sm-6">

					<% @max_diff_weeks.each do |week| %>

						<div class="col-xs-12 album-covers">

							<h4>Week <%= week[0] %></h4>
							<p class="notes">Hef gives <%= artist_album(@hef_data[week[0].to_i-1]) %> a <strong><%= week[11] %></strong> and CB gives it a <strong><%= week[8] %></strong>.</p>

							<div class="row">
								<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
								<%= spotify_link_album_cover(@hef_data[week[0].to_i-1]) %>
								</div>
							</div>


						</div>

					<% end %>

				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="col-xs-12">
					<h3>CB heard it before</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h4>Yes</h4>
					<p class="number"><%= @cb_heard_it.size %></p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h4>No</h4>
					<p class="number"><%= @cb_hadnt_heard_it.size %></p>
				</div>
			</div>
		</section>

	</div> <!-- .container -->

	<%= partial :summary_footer %>

</div> <!-- #report -->